.about {
    display: block;

    box-sizing: border-box;
    margin: auto;

    width: 1000px;
    max-width: calc(100dvw - 2rem);

}

.topbar {
    display: flex;

    width: 100%;

    margin: 1rem;
    
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: var(--mediumfontsize);
}

.content {
    text-align: left;

}

.content div {
    border: 2px var(--secondarytextcolour) solid;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 2rem;
}

.content div h1 {
    margin: 0;
    margin-bottom: 1rem;

    font-family: "mencken-std-head", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: var(--medium2fontsize);

}

.content div span {
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: var(--smallfontsize);
}