.experience {
    margin: 0px 5rem 0px 5rem;
    width: 1000px;
    display: flex;
    
    align-items: center;
    flex-direction: column;

    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}


.content {
    display: flex;
    max-width: 80rem;
    gap: 2rem;
}

.topbar {
    display: flex;
    justify-content: space-between;

    width: 100%;

    margin: 1rem;
    margin-left: 0;
    margin-right: 0;
    
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: larger;
}


.list {
    text-align: right;
    min-width: max-content;
    height: max-content;


    border-right: 2px black solid;
    border: 2px black solid;
    border-radius: 5px; 
}

.list div { 
    padding: 15px;
    border-bottom: 2px black solid; 
}

.list :hover {
    background-color: #6efcc14a;
    cursor: pointer;
}

.selected {
    background-color: #6efcc1;
}


.list :last-child {
    border-bottom: none; 
}

.description {
    border: 2px black solid;
    border-radius: 5px;

    padding: 30px;
    width: 100%;

    font-family: "mencken-std-head", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #1a1a1a;
}

.description span,
.description p {
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.description div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.description h2,
.description h3 {
    padding-top: 10px;
    margin: 0;
}

@media (max-width: 768px) {

    .experience {
        margin: 20px;
        max-width: calc(100dvw - 2rem);
    }

    .topbar {
        width: 100dvw;
    }
    
    .content {
        flex-direction: column;
        width: 100dvw;
    }
    .list {
        width: 100dvw;

        display: flex;
        flex-wrap: auto;
    }

    .list div { 
        padding: 5px;
        border-bottom: none;
        border-right: 2px black solid; 
    }


    .list :last-child {
        border-right: none; 
    }
    
}
