.footer {
    max-width: 100vw; 

    position: sticky;
    bottom: 0; 
    
    display: flex;
    justify-content:center;
    align-items: center;

    background: linear-gradient(to bottom, rgba(0,0,0,0), #F2F0E3)

}

.toggle {
    display: none;
}

.footer div {
    background-color: #AE7AFF;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border: 2px black solid;
    border-radius: 5px;
    
    font-size: large;
    min-width: max-content;
    height: max-content;

    position: relative;
    bottom: 20px;
}

.footer div :first-child {
    border-radius: 4px 0px 0px 4px;
}

.footer div :last-child {
    border-radius: 0px 4px 4px 0px;
}

.unselected {
    all: unset;
    padding: 1rem;

    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F2F0E3;
    font-size: large;

}

.unselected:hover {
    background-color: #722edf;
    transition: 0.4s;

}


.selected {
    all: unset;
    padding: 1rem;

    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    color: #F2F0E3;
    background-color: #722edf;
}


/* MOBILE STYLING */

@media (max-width: 768px) {

    .footer {
        width: 100dvw;
        box-sizing: border-box;
        position: sticky;
        bottom: 0; 
        left: initial;

        justify-content:flex-start;
        align-items:flex-start;
        flex-direction: column-reverse;
        gap: 1rem;

    }
    
    .footer div {
        border: none;
        flex-direction: column;

        
    }
    
    .footer div.open {
        border: 2px black solid;
        border-radius: 5px;
        padding: 1rem;
        padding-top: 0;
        padding-bottom: 0;
        gap: 0;

    }

    .footer div button {
        display: none;
    }

    .footer div.open button {
        display: block;
        width: 100%;
        padding: 1rem;

    }

    .footer div.open :first-child {
        border-radius: 4px 4px 0px 0px  ;
    }
    
    .footer div.open :last-child {
        border-radius: 0px 0px 4px 4px;
    }
  
    .footer .toggle {
        box-sizing: border-box;
        left: 0;
        all: unset;
        
        text-align: center;

        margin-left: 30px;
        margin-bottom: 30px;
        padding: 18px;
  
        font-family: "ibm-plex-mono", sans-serif;
        font-weight: 400;
        font-style: normal;
        background-color: #AE7AFF;
        color: #F2F0E3;
        font-size: large;
    }

    .footer .toggle {
        border: 2px black solid;
        border-radius: 5px;
    }

    .toggle:hover {
        background-color: #722edf;
    }
  }