.header {
    background: #F2F0E3;

    font-size: 2.5rem;
    
    color: black;


    position: sticky;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    top: 0; 
    height: 50px;

    padding: 30px;
    background: linear-gradient(to bottom, #F2F0E3, rgba(0,0,0,0))
}

.buttongroup {
 
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px black solid;
    border-radius: 5px;

    background: #AE7AFF;
    width: max-content;
    height: 60px;
    font-size: large;
}

.buttongroup button {
   
    all: unset;
    padding: 1rem;

    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 500;
    color: #F2F0E3;
    font-size: large;
}

.buttongroup :first-child {
    border-radius: 5px 0px 0px 5px;
}

.buttongroup :last-child {
    border-radius: 0px 5px 5px 0px;
}


.buttongroup button:hover {
    background-color: #722edf;
}





/* MOBILE STYLES */

@media (max-width: 768px) {

    .header {
        width: 100dvw; 
        box-sizing: border-box;
        position: sticky; 
        top: 0;
        right: 0;
        justify-content: flex-end;
    }
    
    .buttongroup {
        position: relative;
        top: 20px;
    }
  }