
.header {
    position: sticky;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    top: 0; 
    height: 50px;

    padding: 2rem;
    background: linear-gradient(to bottom, var(--backgroundcolour), rgba(0,0,0,0));

}

.buttongroup {
 
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px var(--secondarytextcolour) solid;
    border-radius: 5px;

    background: #AE7AFF;
    width: max-content;

}

.buttongroup a {
    all: unset;
}

.buttongroup button {
   
    all: unset;

    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 500;
    color: var(--textcolour);
    font-size: var(--smallfontsize);

    height: 100%;
    padding: 18px;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 0.3s;
}

.buttongroup :first-child {
    border-radius: 4px 0px 0px 4px;
}

.buttongroup :last-child {
    border-radius: 0px 4px 4px 0px;
}


.buttongroup button:hover {
    background-color: #722edf;
}





/* MOBILE STYLES */

@media (max-width: 768px) {

    .header {
        
        width: 100dvw; 
        box-sizing: border-box;
        position: sticky; 
        top: 0;
        right: 0;
        justify-content: flex-end;
    }
    
    .buttongroup {
        position: relative;
        top: 20px;
    }
  }