.hero {
    height: max-content;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro > h1 {
    font-size: 3rem;
    margin: 0;
}

.intro p {
    font-size: 1.2rem;
    width: 900px;
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 400;
}


/* MOBILE STYLES */

@media (max-width: 768px) {
    .hero {
        padding-top: 2rem;
        max-width: 100dvw;
    }

    .intro {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .intro > h1 {
        font-size: 3rem;
        margin: 0;
    }
    
    .intro p {
        font-size: 1.2rem;
        width: 400px;
        font-family: "ibm-plex-mono", sans-serif;
        font-weight: 400;
    }

}
