.parent {
    box-sizing: border-box;
    margin: auto;

    width: 1200px;
    max-width: calc(100dvw - 2rem);

}

.topbar {
    display: flex;
    justify-content: space-between;
    margin: 1rem;

    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: larger;
}

.board {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: max-content;

    
}

.board h1 {
    margin: 0;

}

.board a {
    all: unset;
}

.project {
    display: flex;
    flex-direction: column;

    width: 2fr;
    
    padding: 2rem;

    border-radius: 5px;
    border: 2px solid black;

    text-align: left;

    transition: 0.4s;
}

.project a {
    text-decoration: underline;
    color: #F0618E;
}

.project a:hover {
    text-decoration: underline;
    color: #AE7AFF;
}


.project:hover {
    box-shadow: 0 0 15px #AE7AFF;

}
  

.project h1 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);

    margin-top: 20px;
    color: #1a1a1a;
}

.project p {
    
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 300;
    font-size: clamp(0.8rem, 2vw, 1.1rem);

    width: 100%;
    word-spacing: 1px; /* Increase space between words */
}

.project > :last-child {
    margin-top: auto;
}

.tags {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    width: fit-content; 
    gap: 0.5rem;
}

.tags h3 {
    border: 2px black solid;
    border-radius: 5px;

    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(0.8rem, 2vw, 1.1rem);


    background-color: #6efcc14a;

    margin: 0;

    padding: 6px 10px;
    width: max-content;
}

.tags :hover {
    background-color: #6efcc1;
    cursor: pointer;

}

/* MOBILE STYLES */

@media (max-width: 768px) {
    .parent {        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .board {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 1rem;
    }

    .project {
        height: max-content;
        padding: 20px;
    }
    
    .project h1 {
    margin-top: 0;
    }
    
    .project > :last-child {
    margin-top: 0;
    }

    .tags {
        margin-bottom: 20px;
    }
}
