@import url("https://use.typekit.net/gmg7rgy.css");

html,
body {
  font-family: "mencken-std-head", sans-serif;
  font-weight: 300;
  font-style: normal;  margin: 0;
  color: #1a1a1a;
  

  background: #F2F0E3;

  max-width: 100%;
}


:root {
  --largefontsize: clamp(2rem, 5vw, 3rem);
  --medium2fontsize: clamp(1.5rem, 2vw, 2.5rem);
  --mediumfontsize: clamp(1rem, 2vw, 1.2rem);
  --smallfontsize: clamp(0.8rem, 2vw, 1.1rem);

}