/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/app/globals.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
@import url("https://use.typekit.net/gmg7rgy.css");

html,
body {
  font-family: "mencken-std-head", sans-serif;
  font-weight: 300;
  font-style: normal;  margin: 0;
  color: #1a1a1a;
  
  -webkit-user-select:auto;
  
     -moz-user-select:auto;
  
          user-select:auto;
  background: #F2F0E3;

  max-width: 100%;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Footer.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Footer_footer__pQtti {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0; 
    
    display: flex;
    justify-content:center;
    align-items: center;

    padding: 30px;
    height: 50px;

    background: linear-gradient(to bottom, rgba(0,0,0,0), #F2F0E3)

}

.Footer_toggle__6E_bj {
    display: none;
}

.Footer_footer__pQtti div {
    background-color: #AE7AFF;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border: 2px black solid;
    border-radius: 5px;
    
    font-size: large;
    min-width: max-content;
    height: max-content;
}

.Footer_footer__pQtti div :first-child {
    border-radius: 4px 0px 0px 4px;
}

.Footer_footer__pQtti div :last-child {
    border-radius: 0px 4px 4px 0px;
}

.Footer_unselected__3QX24 {
    all: unset;
    padding: 1rem;

    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F2F0E3;
    font-size: large;

}

.Footer_unselected__3QX24:hover {
    background-color: #722edf;
    transition: 0.4s;

}


.Footer_selected__NnoXX {
    all: unset;
    padding: 1rem;

    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    color: #F2F0E3;
    background-color: #722edf;
}


/* MOBILE STYLING */

@media (max-width: 768px) {

    .Footer_footer__pQtti {
        width: 100vw; 
        position: -webkit-sticky; 
        position: sticky;
        bottom: 0; 
        left: initial;

        justify-content:flex-start;
        align-items:flex-start;
        flex-direction: column-reverse;
        gap: 1rem;

    }
    
    .Footer_footer__pQtti div {
        border: none;
        flex-direction: column;
    }
    
    .Footer_footer__pQtti div.Footer_open__zA_UJ {
        border: 2px black solid;
        border-radius: 5px;
        padding: 1rem;
        padding-top: 0;
        padding-bottom: 0;
        gap: 0;

    }

    .Footer_footer__pQtti div button {
        display: none;
    }

    .Footer_footer__pQtti div.Footer_open__zA_UJ button {
        display: block;
        width: 100%;
        padding: 1rem;

    }

    .Footer_footer__pQtti div.Footer_open__zA_UJ :first-child {
        border-radius: 4px 4px 0px 0px  ;
    }
    
    .Footer_footer__pQtti div.Footer_open__zA_UJ :last-child {
        border-radius: 0px 0px 4px 4px;
    }
  
    .Footer_footer__pQtti .Footer_toggle__6E_bj { 
        all: unset;
        
        text-align: center;
        padding: 18px;
  
        font-family: "ibm-plex-mono", sans-serif;
        font-weight: 400;
        font-style: normal;
        background-color: #AE7AFF;
        color: #F2F0E3;
        font-size: large;
    }

    .Footer_footer__pQtti .Footer_toggle__6E_bj {
        border: 2px black solid;
        border-radius: 5px;
    }
    .Footer_toggle__6E_bj:hover {
        background-color: #722edf;
    }
  }
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Header.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Header_header__KwdYD {
    background: #F2F0E3;

    font-size: 2.5rem;
    
    color: black;


    position: -webkit-sticky;


    position: sticky;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    top: 0; 
    height: 50px;

    padding: 30px;
    background: linear-gradient(to bottom, #F2F0E3, rgba(0,0,0,0))
}

.Header_buttongroup__RQ9_w {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px black solid;
    border-radius: 5px;

    background: #AE7AFF;
    width: max-content;
    height: 60px;
    font-size: large;

}

.Header_buttongroup__RQ9_w button {
    all: unset;
    padding: 1rem;

    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 500;
    color: #F2F0E3;
    font-size: large;
}

.Header_buttongroup__RQ9_w :first-child {
    border-radius: 5px 0px 0px 5px;
}

.Header_buttongroup__RQ9_w :last-child {
    border-radius: 0px 5px 5px 0px;
}


.Header_buttongroup__RQ9_w button:hover {
    background-color: #722edf;
}





/* MOBILE STYLES */

@media (max-width: 768px) {

    .Header_header__KwdYD {
        width: 100vw; 
        box-sizing: border-box;
        position: -webkit-sticky;
        position: sticky; 
        top: 0;
        right: 0;
        justify-content: flex-end;
    }
    
    .Header_buttongroup__RQ9_w {
        position: relative;
        top: 20px;
    }
  }
