/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Hero.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.Hero_hero__bqvNd {
    height: max-content;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;
}

.Hero_intro__6WcBS {
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Hero_intro__6WcBS > h1 {
    font-size: 3rem;
    margin: 0;
}

.Hero_intro__6WcBS p {
    font-size: 1.2rem;
    width: 900px;
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 400;
}


/* MOBILE STYLES */

@media (max-width: 768px) {
    .Hero_hero__bqvNd {
        max-width: 100%;
    }

    .Hero_intro__6WcBS {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .Hero_intro__6WcBS > h1 {
        font-size: 3rem;
        margin: 0;
    }
    
    .Hero_intro__6WcBS p {
        font-size: 1.2rem;
        width: 600px;
        font-family: "ibm-plex-mono", sans-serif;
        font-weight: 400;
    }

}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Projects.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.Projects_parent__o9yXn {
    width: max-content;

    margin: 30px;
}

.Projects_topbar__3_gjn {
    display: flex;
    justify-content: space-between;
    margin: 1rem;

    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: larger;
}

.Projects_board__pcOgX {
    display: grid;
    grid-template-columns: 650px 650px;
    grid-gap: 2rem;
    gap: 2rem;
}

.Projects_board__pcOgX h1 {
    margin: 0;

}

.Projects_board__pcOgX a {
    all: unset;
}

.Projects_project__srcGa {
    display: flex;
    flex-direction: column;

    height: max-content;
    height: 30rem;
    width: 2fr;
    
    padding: 2rem;

    border-radius: 5px;
    border: 2px solid black;

    text-align: left;

    transition: 0.4s;
}

.Projects_project__srcGa a {
    text-decoration: underline;
    color: #F0618E;
}

.Projects_project__srcGa a:hover {
    text-decoration: underline;
    color: #AE7AFF;
}


.Projects_project__srcGa:hover {
    box-shadow: 0 0 15px #AE7AFF;

}
  

.Projects_project__srcGa h1 {
    margin-top: 20px;
    color: #1a1a1a;
}

.Projects_project__srcGa p {
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 300;
    font-size: large;

    width: 100%;
    word-spacing: 1px; /* Increase space between words */
}

.Projects_project__srcGa > :last-child {
    margin-top: auto;
}

.Projects_tags__pE1IM {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    flex-wrap: wrap;
    width: fit-content; 
    gap: 0.5rem;
}

.Projects_tags__pE1IM h3 {
    border: 2px black solid;
    border-radius: 5px;

    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 300;
    font-style: normal;

    background-color: #6efcc14a;

    margin: 0;

    padding: 6px 10px;
    width: max-content;
}

.Projects_tags__pE1IM :hover {
    background-color: #6efcc1;
    cursor: pointer;

}

/* MOBILE STYLES */

@media (max-width: 768px) {
    .Projects_parent__o9yXn {
        max-width: 39rem;
        
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .Projects_board__pcOgX {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .Projects_project__srcGa {
        height: max-content;
        padding: 20px;
    }
    
    .Projects_project__srcGa h1 {
    margin-top: 0;
    }
    
    .Projects_project__srcGa > :last-child {
    margin-top: 0;
    }

    .Projects_tags__pE1IM {
        margin-bottom: 20px;
    }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Experience.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.Experience_experience__aDO1z {
    display: flex;
    
    align-items: center;
    flex-direction: column;

    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    margin: 30px;
}


.Experience_content__pmlM4 {
    width: 1000px;
    display: flex;
}

.Experience_topbar__Pg3Mg {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: larger;
}


.Experience_list__D3rHA {
    text-align: right;
    min-width: max-content;
    height: max-content;


    border-right: 2px black solid;
    border: 2px black solid;
    border-radius: 5px; 
}

.Experience_list__D3rHA div { 
    padding: 15px;
    border-bottom: 2px black solid; 
}

.Experience_list__D3rHA :hover {
    background-color: #6efcc14a;
    cursor: pointer;
}

.Experience_selected___g7no {
    background-color: #6efcc1;
}


.Experience_list__D3rHA :last-child {
    border-bottom: none; 
}

.Experience_description___o3ae {
    border: 2px black solid;
    border-radius: 5px;

    padding: 30px;
    margin-left: 30px;
    width: 100%;

    font-family: "mencken-std-head", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #1a1a1a;
}

.Experience_description___o3ae span,
.Experience_description___o3ae p {
    font-family: "ibm-plex-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Experience_description___o3ae div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Experience_description___o3ae h2,
.Experience_description___o3ae h3 {
    padding-top: 10px;
    margin: 0;
}


/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {

}

.page_body__pK_rb {
  width: 100%;
  min-height: 100dvh;
  height: max-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}
